.FOSUserBundle .panel {
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

.FOSUserBundle .panel-title {
	display: inline;
}

.FOSUserBundle .panel-heading-btn {
	float: right;
}

.form-register {
	max-width: 600px;
	padding: 15px;
	margin: 0 auto;
}

.form-register label {
	float: left;
    width: 30%;
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

.form-register .form-group {
	height: 35px;
}

.form-register .form-group a {
	float: right;
    margin-right: 10%;
}

.form-register .form-control {
	width: 60%;
	float: left;
}